{% assign lang = 'ru' %}
<section class="contact-form column">
    <h2>{{ data.contactform[lang].header }}</h2>
    <p id="contact-form-output"></p>
    <form id="contact-form">
        <fieldset class="field">
            <label class="label" for="name">
                {{ data.contactform[lang].fieldName }}
            </label>
            <input
                id="name"
                type="text"
                name="name"
                placeholder="{{ data.contactform[lang].fieldName }}"
                class="input"
            />
        </fieldset>
        <fieldset id="media" class="field">
            <label class="label" for="media">
                {{ data.contactform[lang].fieldMedia }}
            </label>
            <label class="label" for="email">
                {{ data.contactform[lang].fieldMediaEmail }}
            </label>
            <input
                id="email"
                type="text"
                name="email"
                placeholder="{{
                    data.contactform[lang].fieldMediaEmailPlaceholder
                }}"
                class="input"
            />
            <label class="label" for="phone">
                {{ data.contactform[lang].fieldMediaPhone }}
            </label>
            <input
                id="phone"
                type="text"
                name="phone"
                placeholder="{{
                    data.contactform[lang].fieldMmediaPhonePlaceholder
                }}"
                class="input"
            />
        </fieldset>
        <fieldset class="field">
            <label class="label" for="message">
                {{ data.contactform[lang].fieldExtra }}
            </label>
            <textarea
                id="message"
                name="message"
                placeholder="{{ data.contactform[lang].fieldExtraPlaceholder }}"
                class="textarea"
            ></textarea>
        </fieldset>
        <div class="field privacy">
            <input
                id="privacy"
                name="privacy"
                type="checkbox"
                class="checkbox"
            />
            <label class="label" for="privacy">
                {{ data.contactform[lang].fieldAgreement | markdownIt }}
            </label>
        </div>
        <div class="field">
            <button type="submit" class="button is-primary">
                {{ data.contactform[lang].fieldSend }}
            </button>
        </div>
    </form>
</section>
